<h1>Project</h1>
<p>
  <b>Name:</b>
  <%=@project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Price:</b>
  <%= @project.goal_in_dollars  %>
</p>

<p>
  <b>Start Date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%= @project.end_date %>
</p>

<p>
  <b>Owner Name</b>
  <%= @project.owner_id %>
</p>


<h2>Tiers</h2>
<% @tier.each do |tier| %>
  <p>
    <b>Tier Name:</b>
    <%= tier.name %>
  </p>
  <p>
    <b>Tier Descrption:</b>
    <%= tier.description %>
  </p>
  <p>
    <b>Price in Dollars</b>
    <%= tier.price_in_dollars %>
  </p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Add Tiers', new_project_tier_path(@project) %>



